:root{
    --left-w: 200px;
    --right-w: 300px;
    --gap: 6px;
  }
  
  body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    font-family: 'Titillium Web', sans-serif;
  }
  
  /*.siteHeader, .siteFooter {
    padding: 8px 12px;
    background: #3f3f3f;
    color: #eee;
  }*/

  .layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: calc(100vh - 96px);
    max-width: 968px;
    padding: var(--gap);
    position: relative;
    overflow: hidden;
  }
  


.headerWrapper, .footerWrapper {
  width: 65%;          /* Takes up the middle 60% */
  margin: 0 auto;      /* Centers the 60% wrapper */
  padding: 20px 0;     /* Optional top/bottom space */
  display: flex;
  justify-content: center;  /* Centers the box inside */
}

/* The centered box itself */
.headerBox, .footerBox {
  background: #333;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 1.6rem;
}

.footerBox{
  font-size: .3em;
  border-radius: 10px 10px 0px 0px;

}

.main{
  margin-left: 75px;
  text-align: left;
  justify-align: center;
}

.footerWrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  transform:translateX(-50%);
}
