:root{
    --left-w: 200px;
    --right-w: 300px;
    --gap: 6px;
  }
  
  body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: calc(100vh - 80px);
    max-width: 968px;
    padding: var(--gap);
    position: relative;
    overflow: hidden;
  }

.headerWrapper {
  top: 0;
  left: 0;
}
.headerWrapper, .footerWrapper {
  width: 65%;          /* Takes up the middle 60% */
  margin: 0 auto;      /* Centers the 60% wrapper */
  display: flex;
  position: fixed;
  justify-content: center;  /* Centers the box inside */
  margin-left: 50%;
  transform:translateX(-50%);
  z-index: 400;
}

.footerWrapper{
  bottom: 0;
  left: 0;
}



/* The centered box itself */
.headerBox {
  background: #333;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 1.6rem;
}



.footerBox {
  background: #333;
  color: #fff;
  padding: 12px 30px;
  text-align: center;
  font-size: .5em;
  border-radius: 10px 10px 0px 0px;

}


.main{
  margin-left: 60px;
  text-align: left;
  justify-content: center;
  z-index:1;
}

.footerWrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 50%;
  transform:translateX(-50%);
}
