:root{
    --left-w: 200px;
    --right-w: 300px;
    --gap: 6px;
  }
  
  body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .siteHeader, .siteFooter {
    padding: 8px 12px;
    background: #3f3f3f;
    color: #eee;
  }

  .layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: calc(100vh - 96px);
    max-width: 968px;
    padding: var(--gap);
    position: relative;
    overflow: hidden;
  }
  

